    header {
      height: 8%;
    }
  
  
    header img {
      height: 40px;
      width: 40px;
    }
  
  
    /* Primeira section */
    .gallery {
      height: 200px;
      width: 100%;
    }
  
    /* Segunda section */
    .content{
      margin: 80px auto;
      width: 90%;
    }
  
  
    h2{
      font-size: 20px;
    }
  
  
    p{
      font-size: 16px;
    }
  
  
    /* Terceira section */
    .icon-container {
      margin-top: 30px;
    }
  
  
    .options img{
      width: 100%;
      height: auto;
    }
  
  
    /* Footer */
    footer {
      flex-direction: column;
      height: 100%;
    }

  
  