:root{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d3d3d3;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    background-color: white;
    min-height: 100vh;
    line-height: 2em;
}
header, section, nav{
    border-bottom: 1px solid #CCC;
    padding: 10px 50px;
}

section{
    min-height: 50vh;
}

header{
    text-align: center;
}

table{
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: red;
}

nav > div {
    display: inline-block;
    padding: 0px 100px;
}

tr:nth-child(4) {
    display:none;
}

table tr:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.7);
}

table tr:nth-child(5) {
    background-color:navajowhite;
}

table tr:nth-child(6) {
    background-color:rgba(255, 0, 0, 0.7);
}

table tr:nth-child(7) {
    background-color:navajowhite;
}

table tr:nth-child(1) {
    color:navajowhite;
}

header{
    background-color: red;
}

nav {
    background-color:navajowhite;
}

.section1 {
    background-color: red;
}

.section2 {
    background-color:navajowhite;
}

.section3 {
    background-color: red;
    text-align: center;
}

.section1 > h1{
    color:navajowhite;
}

.section2 > h1{
    color:red;
}

.section3 > h1{
    color:navajowhite;
}

td:nth-last-of-type(1)::before{
    content:"R$";
}

tr:nth-child(1) > td:nth-child(2)::before{
    content:"";
}

a[href*="https"] {
    color: rgb(168, 26, 26);
}

address p:nth-child(1)::before {
    content:"Rua ";
}

address p:nth-child(2)::before {
    content:"Bairro ";
}

address p:nth-child(3)::after {
    content:"/Santa Catarina";
}

tr:not(#cabecalho):hover {
    filter: invert(3);
}

/* Celular */
    @media (max-width: 767px){
    
        .container {
            width: 95%;       
            padding: 0 10px;
        }
        
        header, section, nav {
            padding: 10px 20px;
        }
        nav > div {
            display: block;
            padding: 10px 0;
        }
    }
    

