:root{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d3d3d3;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    background-color: white;
    min-height: 100vh;
    line-height: 2em;
}
header, section, nav{
    border-bottom: 1px solid #CCC;
    padding: 10px 50px;
}

section{
    min-height: 50vh;
}

header{
    text-align: center;
}

table{
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: red;
}

nav > div {
    display: inline-block;
    padding: 0px 100px;
}

tr:nth-child(4) {
    display:none;
}

table tr:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.7);
}

table tr:nth-child(5) {
    background-color:navajowhite;
}

table tr:nth-child(6) {
    background-color:rgba(255, 0, 0, 0.7);
}

table tr:nth-child(7) {
    background-color:navajowhite;
}

table tr:nth-child(1) {
    color:navajowhite;
}

header{
    background-color: red;
}

nav {
    background-color:navajowhite;
}

.section1 {
    background-color: red;
}

.section2 {
    background-color:navajowhite;
}

.section3 {
    background-color: red;
    text-align: center;
}

.section1 > h1{
    color:navajowhite;
}

.section2 > h1{
    color:red;
}

.section3 > h1{
    color:navajowhite;
}

td:nth-last-of-type(1)::before{
    content:"R$";
}

tr:nth-child(1) > td:nth-child(2)::before{
    content:"";
}

a[href*="https"] {
    color: rgb(168, 26, 26);
}

address p:nth-child(1)::before {
    content:"Rua ";
}

address p:nth-child(2)::before {
    content:"Bairro ";
}

address p:nth-child(3)::after {
    content:"/Santa Catarina";
}

tr:not(#cabecalho):hover {
    filter: invert(3);
}



/*
* 
Para esta atividade, você não deve alterar absolutamente nada o arquivo HTML.

1 - formate os links como achar mais apropriado em seus estados (link, visited, hover, active)
2 - os links devem estar lado a lado (display:inline ou inline-block)
3 - a pizza do cheff está em falta, esconda esta linha da tabela (display:none)
4 - faça a tabela ser listrada com cores diferentes
5 - a primeira linha da tabela (cabeçalho) deve ser com uma cor destaque
6 - cada seção deve ter uma cor de fundod diferente
7 - Títulos devem possui cores diferentes em cada seção. No entanto, os parágrafos das seções devem ser de cores iguais.
8 - adicione "R$" nos preços das pizzas
9 - links externos devem possuir uma cor ligeiramente diferente (começa com http)
10 - adicione "Rua" antes do nome da rua "Maria Aparecida Barbosa"
11 - adicione "bairro antes de "Campo Duna"
12 - adicione "Santa Catarina" após o nome da cidade (Garopaba)
13 - ao passar o cursor sobre cada linha da tabela, ela deve ser "iluminada" com outra cor (menos o cabeçalho). 
	 Dica: combinação de pseudo classes
14 - o texto do endereço deve ser centralizado
15 - Desenvolva 3 exemplos de uso de pseudo-classes que não foram demonstradas pelo professor
16 - Desenvolva 2 exemplos de pseudo-elementos que não foram demonstradas pelo professor
*/